[#_{:cid      "QmVB76oSA1GmxZWHseLiivrcfNE4ws2HhE5m7g491v8ENx"
    :password "lb[732;.P!ULSMwbOEXF"
    :expected {:num-trades 2154389
               :sum-spread 1351436.83498061M}}
 {:period "01/05/23 - 01/06/23"	:cid "QmVB76oSA1GmxZWHseLiivrcfNE4ws2HhE5m7g491v8ENx"	:password "lb[732;.P!ULSMwbOEXF" :expected {:num-trades 2154389 :sum-spread 1351436.83498061M}}
 {:period "01/04/23 - 01/05/23"	:cid "QmUW2b6ai5Bm5P18RuTCf4FnPKkWBV64EizjSJBWar9xPK"	:password "gvC,olWGO,a7Ik50pY(h" :expected {:num-trades 2356794 :sum-spread 1619084.05071113M}}
 {:period "01/03/23 - 01/04/23"	:cid "QmehKdYKmcwj2eoC61HrA5tZUeGpqtTEkL9d39mhdtF64T"	:password "v3+4u@r;46Tl!;=Qk)3C" :expected {:num-trades 2598919 :sum-spread 2310288.34011920M}}
 {:period "01/02/23 - 01/03/23"	:cid "QmWXhwgRH2g3KBRKSc1zSpMGfT7XSMEDgDARBTbFCu91Lc"	:password "Ug8CY>3{k;KSUm#%JTRR" :expected {:num-trades 2261926 :sum-spread 1773890.14427339M}}
 {:period "01/01/23 - 01/02/23"	:cid "QmRg8JAHRPnb2nJuhyscYAy4FU2MHwuYXa8qBmVFZfib2n"	:password "i]{Mvg%MTY4KFo9N0s)6" :expected {:num-trades 2316525 :sum-spread 1898366.33884559M}}
 {:period "01/12/22 - 01/01/23"	:cid "Qma1Exg7UPtWB4YuwLQgvL6CwPyXt51TSfvZT71FxHBwx3"	:password ")+}PlSF2aQbvu2TDg#K;" :expected {:num-trades 1618417 :sum-spread 1137312.49301651M}}
 {:period "01/11/22 - 01/12/22"	:cid "QmbrxyCaSrHzRYEiYfA7741CkLrMhaRw6BQENxfQbECLpd"	:password "zYJ]dWK$x)f]7^vDtZ^{" :expected {:num-trades 2591543 :sum-spread 2232630.01842159M}}
 {:period "01/10/22 - 01/11/22"	:cid "QmSsxhjrbSLTXDi3YCzsN3wbNXPeP3663HamwCPYWEKrXw"	:password "!6n$MP9s%jNmOfO)Jc8]" :expected {:num-trades 2359271 :sum-spread 1474686.59780499M}}
 {:period "01/09/22 - 01/10/22"	:cid "QmZmRQBP1bQ9UEDHBU6XgyR4Fn6fhGpBD2ckX6bDUWBwT3"	:password "=856=c?Wu)((R,E!ICeo" :expected {:num-trades 2880172}}
 {:period "01/08/22 - 01/09/22"	:cid "QmZ3pKXtyqrs7ahekVBE3AHuAhF6ig9N7CvYH6tSUcEjLY"	:password "L8g7XZwN29hhkegQ=W(l" :expected {:num-trades 2681400}}
 {:period "01/07/22 - 01/08/22"	:cid "QmapZfNQUmC8CmjsHUNgxsiXcFT7aaSEzhSojPJqyhLnXa"	:password "ak3=SK0mHJP7;[Jm,Z$I" :expected {:num-trades 2841174}}
 {:period "01/06/22 - 01/07/22"	:cid "QmZTqWjugDrFnTnaYjGaCdg381QM1zwus88mC3NbFNbYfy"	:password "X<3y%ba?TNn25Mq{7vwE" :expected {:num-trades 3421167}}
 {:period "01/05/22 - 01/06/22"	:cid "QmQPXZUK2j21oZrzV8kqwECV6n5WsVBta1HuLoLrpVsuY8"	:password "m4xfU8Ozks+}}5$fZVz4" :expected {:num-trades 3409246}}
 {:period "01/04/22 - 01/05/22"	:cid "QmWzG325jcV5mBbu4bXSNtNNvaHCtSahoAobGiHhaiH35D"	:password "HsFs2$,4yIH4Mfme(!]f" :expected {:num-trades 3107674}}
 {:period "01/03/22 - 01/04/22"	:cid "QmcR76icCd5C6kqmSGwMQu5VTBXwwgJoqXXBreGZKUzUq1"	:password "Ppj9m!Jqen@YwytHt7mI" :expected {:num-trades 3508269}}
 {:period "01/02/22 - 01/03/22"	:cid "QmZnfdMVYnKwLFeANesQPWFMFrwsuKQQSeYyx8PTqtxnvj"	:password "nYgVj1wR9JBqSgSw@fwn" :expected {:num-trades 2923575}}
 {:period "01/01/22 - 01/02/22"	:cid "QmSXQS1Nm8pZLsuGX4H5KVUu26huhJB5rFmamP8jjk2sTN"	:password "jGKGLVF3$Pa#6Y9Sbrtm" :expected {:num-trades 3094531}}
 {:period "01/12/21 - 01/01/22"	:cid "QmZoyJbhwtBWG3djMkEjcwMHWuzLDNc7tQCfqisqY2yd5g"	:password "V2ej=H+Ha3MPEJJ7FQ[H" :expected {:num-trades 3205313}}
 {:period "01/11/21 - 01/12/21"	:cid "QmXsQuPYaFrLdpnx4nybhc8VzStgWgdb6rdsADTCo3rUNk"	:password "7!lI^!b.2nCOr6!2H;b0" :expected {:num-trades 4238825}}
 {:period "01/10/21 - 01/11/21"	:cid "QmZ99sFzPkpJsmbcKUZ1ERAsSsF684Eg7yxZ4M7vuaQZxE"	:password "WmQ0etROMZfJGI!!tAcs" :expected {:num-trades 3856988}}
 {:period "01/09/21 - 01/10/21"	:cid "QmRcprnHscpda8WWCt8XvJdEbfuTUhFoFftDBG4A7LUeTV"	:password "!LRKdnUFshUiOj9TOC7X" :expected {:num-trades 4054889}}
 {:period "01/08/21 - 01/09/21"	:cid "QmQrkPgDwZ19Stkj6iqWh6fvZeJFsVm3MsS2LdbVpZ333H"	:password "3qQgF$VC7CQU!HZNben6" :expected {:num-trades 4267205}}
 {:period "01/07/21 - 01/08/21"	:cid "QmUgsfMzcTF3kViy1WZm4HZuUk8fv2GNcBVNXiQj471EQ2"	:password "l5aVoeMx!DUL02#YlKaR" :expected {:num-trades 3181285}}
 {:period "01/06/21 - 01/07/21"	:cid "QmUq5AfwkMxqsDsyF8LJzrtoxnkP26ivV1GQPGCiLrJJQ9"	:password "APHbc@aw5U@HHOwI1KEJ" :expected {:num-trades 3146603}}
 {:period "01/05/21 - 01/06/21"	:cid "QmWbvm24yfMCzpVp6eSasHxNiNLdCZ5RqpZKEYuFLWbN1L"	:password "gEUZzi$kK3P@@HP7L0Ma" :expected {:num-trades 5752180}}
 {:period "01/04/21 - 01/05/21"	:cid "QmUPwpjKR5PypArnEtNVqLXoAHwWcFMvAqu7qkyyNXGfNy"	:password "!9G$Aw4aG4Gi@qaA#Sbn" :expected {:num-trades 5904506}}
 {:period "01/03/21 - 01/04/21"	:cid "QmQNNjmbfRopsTcnPkZd8GCxj7X9jGefFeKH13qf8ikX3W"	:password "@SG6OmIRv8ttT1adZzp#" :expected {:num-trades 4543874}}
 {:period "01/02/21 - 01/03/21"	:cid "QmW41T3cmapKHeVhd7PGgbBoKHkbNNsumBpyboBtArDcrA"	:password "3Qlan7!3er6jx16NXdWL" :expected {:num-trades 4886856}}
 {:period "01/01/21 - 01/02/21"	:cid "QmSmzrzy8MyAeugbEbN761LtUYfkVXUuRntW9FJ1obmX6A"	:password "r9ChXwXosB!i9RNbUL1L" :expected {:num-trades 4551626}}
 {:period "01/12/20 - 01/01/21"	:cid "QmYQZFwGVsuF5reL4LGHCEBTxSgNgJ97WdEqjhFnGniWM3"	:password "cVXzadSQnA$7$JY!nrkV" :expected {:num-trades 3186576}}
 {:period "01/11/20 - 01/12/20"	:cid "QmTYreWc13XXuGJoYQFR6a7MifAY2jtgT8LoC5nuooZuVK"	:password "lEKB3wA5$1IHp42@Q$nP" :expected {:num-trades 3357678}}
 {:period "01/10/20 - 01/11/20"	:cid "QmcTkqiahXnDryX6w6Wv7TjfGV7kL5bBx575VDDJW9GMRU"	:password "ReHvUCGsviwe#0FHskum" :expected {:num-trades 2140063}}
 {:period "01/09/20 - 01/10/20"	:cid "QmX5VdQp1LvupZzsrV7rLVaDWhYnRRADu5EwDieiCm96GS"	:password "Ha8CiLI1zvFM@wKl4@Ly" :expected {:num-trades 2376684}}
 {:period "01/08/20 - 01/09/20"	:cid "QmX6R3eLUEmhPd6chze3KYeQpNbUg155KoqHnTE2gd1Eqy"	:password "4zBIbL$qLDy$xBP2tFqY" :expected {:num-trades 3130032}}
 {:period "01/07/20 - 01/08/20"	:cid "QmeMumd79BCrQztvinHhhLrPU56g5k2oSsj2puqGr5Qmjy"	:password "GacmJSKkt1UavRC!tv8m" :expected {:num-trades 2276347}}
 {:period "01/06/20 - 01/07/20"	:cid "QmYMddCZG2UX3bQPZ3n8QCaj9pcDbqVybVMs9EcNmA9nqQ"	:password "Y@d3mD!8blDXSI6ISp$6" :expected {:num-trades 2312400}}
 {:period "01/05/20 - 01/06/20"	:cid "QmehDoRTzos6XJTD76ZCxGVzFu8qPW8AAxd5szVetpSL68"	:password "ELF9W#6!2x0plHjVhtgW" :expected {:num-trades 2721596}}
 {:period "01/04/20 - 01/05/20"	:cid "QmRUN4yRDnwAhg65Nx9yMRHUozQDRX1qMvCMnTwUrcEdgj"	:password "Tu#BSYUH40HkbH#hZQ6T" :expected {:num-trades 2158618}}
 {:period "01/03/20 - 01/04/20"	:cid "QmcBNuzQJ7P8RgfHxtVufu4D9ZEuFwtR8Br62cdzvSPd12"	:password "Z0@r$H@4HAoOJuZOrQ0s" :expected {:num-trades 1936291}}
 {:period "01/02/20 - 01/03/20"	:cid "QmVeTtSAhLDxiYdBcnXABm9xV6NBjrgheMtvNfiHunmYYt"	:password "7hBdrB#QU@JevDJRCV5B" :expected {:num-trades 1729917}}
 {:period "01/01/20 - 01/02/20"	:cid "QmVW9xquFYXouYh7yRK5GXpscaRk3BjWpLSxbiCxHpDJd4"	:password "6B@R#nxfAo5GoHw4LFFS" :expected {:num-trades 1423172}}
 {:period "01/12/19 - 01/01/20"	:cid "QmfVPWNQ9fwjzPXAuomRDDD5FEo9YBJfTzyon5H8dH5upZ"	:password "ync9gi5Y533X1bMQIFYD" :expected {:num-trades 991909}}
 {:period "01/11/19 - 01/12/19"	:cid "Qmd73hff8Chkh7hsdD3S389kWt9nHuqBnSXjgZuTosjLJd"	:password "T$dUHB4fRJDXiARLqr5m" :expected {:num-trades 941783}}
 {:period "01/10/19 - 01/11/19"	:cid "QmTSeEPBptty9EV3uatPaUKfat1gksXXYkagpfW25Q6FjE"	:password "BPxY5O$!CwEEx84XAQuB" :expected {:num-trades 954645}}
 {:period "01/09/19 - 01/10/19"	:cid "QmNTwxdLzvyyXt81Why6QEJtCPRBDvCo8iX7UcrKhwimpG"	:password "ep6oczdzg29h1N84e!RfG" :expected {:num-trades 900597}}
 {:period "01/08/19 - 01/09/19"	:cid "QmR1LBJEksz9GmQUvmaD6VyFmHhveafk2AHboPVsLeKjfe"	:password "kihj5&7fytHGFYGjlke45" :expected {:num-trades 1240318}}
 {:period "01/05/19 - 01/08/19"	:cid "Qme2EGyYxD9aYt4VKtnVunvnABbRjoqTbXwCoMKPXFfNT3"	:password "lsgt*()RhDOg79D7kfe25" :expected {:num-trades 2597411}}]
