[{:cid      "QmVB76oSA1GmxZWHseLiivrcfNE4ws2HhE5m7g491v8ENx"
  :password "lb[732;.P!ULSMwbOEXF"
  :expected {:num-trades 2154389
             :sum-spread 1351436.83498061M}
  }
 #_{:cid      "AnotherCID"
  :password "AnotherPassword"
  :expected {:num-trades 123456
             :sum-spread 654321.12345678}}
 ]
